[Install]
WantedBy=multi-user.target

[Unit]
Description=embyserver service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f embyserver.service
ExecStartPre=/usr/bin/docker pull emby/embyserver:latest

ExecStart=/usr/bin/docker run \
    --name embyserver.service \
    --volume /srv/embyserver/config:/config \
    --publish 0.0.0.0:8096:8096 \
    --publish 0.0.0.0:8920:8920 \
    --env UID=666 \
    --env GID=666 \
    --env GIDLIST=666 \
    emby/embyserver:latest

ExecStop=/usr/bin/docker stop embyserver.service
ExecStopPost=-/usr/bin/docker rm -f embyserver.service

Restart=always
RestartSec=60s
TimeoutSec=3600
